@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
}

.one {
   background-color: #1f2937;
}

.header {
    display:flex;
    align-items: baseline;
    margin: 0px 70px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration:none; 
    color: #E5E7EB;
}

.links {
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.main {
    display: flex;
    margin: 20px 70px;
    gap: 20px;
}
.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    padding: 6px;
    border-radius: 8px;
    color: #F9FAF8;
    border: none;
}

.bowtie {
    height: auto;
    width: 100px;
    margin-bottom: 20px;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}